.detail-row{
    width: 100%;
    height: auto;
    float: left;
    display: block;
}


.genre-container{
    
}
.detail-value{
    display: block;
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 7px;

    font-size: 12px;
    color: #FFF;
}

.detail-heading{
    float: left;
    margin: 0 auto;
    padding-left: 7px;
  
    color: rgb(128, 123, 123);
    font-size: 14px;
  }